.bdy0342_070619 {
  padding: 15px;
  background: #0e5ec2;
}

.dv0339_070619 {
  z-index: 1;
  position: relative;
  color: #fff !important;
  opacity: 1 !important;
  font-weight: 300;
  font-size: 32px;
  line-height: 13px;
  top: 0;
  right: 0;
  margin: 0;
}
/*.dv0339_070619:hover{
  opacity: 1 !important;
  color: #fff;
  text-shadow: 1px 2px 0px #000;
}*/

#contact_us_pp .modal-dialog {
  margin: 22vh auto 0;
}

.nav0408_070619 {}

.nav0408_070619 .navbar {
  background: #595959;
  width: 100%;
  padding: 9px 0px;
}

.nav0408_070619 .navbar-nav {
  width: 100%;
  text-align: center;
  display: block;
}

.nav0408_070619 .navbar-nav li {
  display: inline-block;
  margin-right: 2px;
  /*border-right: solid 1px #bdbbbb;*/
  margin-left: 5px;
  position: relative;
}
.nav0408_070619 .navbar-nav li:after{
  content: '';
  background: #bdbbbb;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5px;
  width: 1px;
}

.nav0408_070619 .navbar-nav li:nth-last-child(1):after{
 display: none;
}
.manu-subdata954 {
  border: 1px solid #595959 !important;
  padding-top: 7px !important;
}

.nav0408_070619 .navbar-nav li a {
  text-align: center;
  color: #fff;
  line-height: 1.2;
  padding: 3px;
}

body .manu-subdata954 a{padding: 5px !important;}















.tips_in_audit_wrrpr{
	position: relative;
}
.tips_in_audit_wrrpr img{
	width: 100%;
}
.tips_in_audit_wrrpr button{
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: #ffffff;
	background: #017cc4;
	padding: 10px 20px;
	box-shadow: 0px 0px 0px 1px #017cc4;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	word-spacing: 1px;
	border: 1px solid rgba(255, 255, 255, 0.7);
}











.bdy0605_070619{
	text-align: center;
}
.bdy0605_070619 .dv0339_070619{
	color: #000 !important;
}




.dv0614_070619{
	display: flex;
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
	padding: 5px;
	border-radius: 5px;
}
.dv0614_070619 img{
	width: 38px;
	height: 38px;
}
.dv0614_070619 div{
	width: 100%;
	width: calc(100% - 38px);
	padding-left: 10px;
}
.dv0614_070619 div input{
	background: #e8e8e824;
	border: none !important;
	padding: 10px 15px !important;
	outline: none !important;
	box-shadow: none !important
}


.mrg_0{
	margin: 0;
}





.top-haddingsty951 p{
  font-size: 18px;
  font-weight: 500;
}



.frm_sty_slct{}
.frm_sty_slct > .multiselect-native-select{
  display: inline-block;
  width: 100%;
}
.frm_sty_slct > .multiselect-native-select > .btn-group{
  display: inline-block;
  width: 100%;
}
.frm_sty_slct > .multiselect-native-select > .btn-group > button{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #78787b;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: left;
}

.frm_sty_slct > .multiselect-native-select > .btn-group > button span{
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}



.frm_sty_slct > .multiselect-native-select > .btn-group > ul{
  width: 100%;
}
.frm_sty_slct > .multiselect-native-select > .btn-group > ul li{}
.frm_sty_slct > .multiselect-native-select > .btn-group > ul li a{
  display: inline-block;
  width: 100%;
}
.frm_sty_slct > .multiselect-native-select > .btn-group > ul li a label{
  line-height: 1 !important;
  width: 100%;
  padding: 10px 20px;
  transition: 0.3s;
  background: #ffffff00;
}
.frm_sty_slct > .multiselect-native-select > .btn-group > ul li a label:hover{
  background: #f9f9f9;
}
.frm_sty_slct > .multiselect-native-select > .btn-group > ul li a label input{
  margin: 0 !important;
  height: 14px !important;
}





.mrg_b_15{
  margin-bottom: 15px;
}



.pad_0{
  padding: 0 !important;
}





.dv0338_080619{}
.dv0338_080619 small{
  font-size: 15px;
  font-weight: 500;
  padding: 10px 9px;
  display: inline-block;
  width: 100%;
  text-align: center;
}


.dv0338_080619 #valAgu,
.dv0338_080619 #valInv{}

.dv0338_080619 #valRoi{
  position: relative;
  margin-bottom: 20px;
}
.dv0338_080619 #valRoi img{
  margin-right: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0 auto -50px;
}









#chart_div{
  width: 100%;
  text-align: center;
}

#chart_div > div{
  display: inline-block;
  margin: auto;
  height: 350px;
  max-width: 100%;
  overflow: auto;
  /*background: #f3fae3;*/
  /*padding: 20px;*/
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}



.btn0458_080619{
  color: #ffffff !important;
  background: #595959;
  padding: 10px 20px;
  box-shadow: 0px 0px 0px 1px #595959;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  cursor: pointer !important;
}



.txt_cntr{
  text-align: center;
}





.footer_heading1{
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer_links{
  margin-bottom: 10px;
  padding: 0;
}
.footer_links li{
  display: inline-block;
  min-width: 70%;
  margin-bottom: 3px;
  padding-left: 12px;
}
.footer_links li a{
  display: inline-block;
  width: 100%;
  position: relative;
  padding-right: 5px;
}
.footer_links li a:before{
  content: '';
  position: absolute;
  background: #fff;
  height: 6px;
  width: 6px;
  top: 0;
  bottom: 0;
  left: -15px;
  margin: auto;
  border-radius: 50%;
  transition: 0.3s;
}





.footer_links li:hover{
  background: rgba(255, 255, 255, 0.1);
}
.footer_links li:hover a{
  color: #fff;
}
.footer_links li:hover a:before{
  transform: scale(1.5);
}



.dv1150_100619{}
.dv1150_100619 img{
  width: 100%;
}








.footer_txt{
  padding: 0;
  margin-bottom: 10px;
}
.footer_txt li{
  display: inline-block;
  width: 100%;
}
.footer_txt li span{
  display: inline-block;
  color: #fff;
  word-break: break-word;
}

.pad_l_15{
  padding-left: 15px;
}




.footer_copy_right{
  text-align: center;
}
.footer_copy_right p{
  margin: 0;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  position: relative;
  padding-bottom: 5px;
}
.footer_copy_right p:after{
  content: '';
  position: absolute;
  background: #fff;
  height: 1px;
  width: 100%;
  max-width: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}



.calu-buttonsty951 ul li a {
    background-color: #595959;
    border: solid 2px #595959 !important;
    color: #fff;
    padding: 5px 23px;
    font-weight: 600;
}
.calu-buttonsty951 ul li a:hover {
    background-color: #fff;
    border: solid 2px #595959 !important;
    color: #595959;
}

.navbar .navbar-toggler{
  padding: 10px;
}

.navbar .navbar-toggler-icon{
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
}
.navbar .navbar-toggler-icon span{
  display: inline-block;
  height: 3px;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  border-radius: 5px;
}
.navbar .navbar-toggler-icon span:nth-child(1){
  bottom: auto;
}
.navbar .navbar-toggler-icon span:nth-child(2){
  top: 0;
  bottom: 0;
}
.navbar .navbar-toggler-icon span:nth-child(3){
  top: auto;
}






/*.container{
  max-width: 2000px !important;
}*/



















.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.owl-carousel .owl-stage{
  transition: all 1s ease 0s !important;
}






.main_banner_slider_wrrpr{
/*  margin-left: -15px;
  margin-right: -15px;*/
  overflow: hidden;
}


.main_banner_slider{}


.main_banner_slider_btn{
  position: relative;
  color: #ffffff;
  background: #017cc4;
  padding: 10px 20px;
  box-shadow: 0px 0px 0px 1px #017cc4;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  z-index: 1;
  float: right;
  margin: -57px 10px 0 0;
}
























.text-js:after {
  content: "|";
  vertical-align: text-bottom;
  font-weight: 400;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}





































































/* rsp-1400 */
@media (min-width: 1200px) and (max-width:1400px){}
/* rsp-1199 */
@media (min-width: 992px) and (max-width:1199px){}
/* rsp-991 */
@media (min-width: 768px) and (max-width:991px){}
/* rsp-767 */
@media (min-width: 576px) and (max-width:767px){}
/* rsp-575 */
@media (min-width: 451px) and (max-width:575px){}
/* rsp-450 */
@media screen and (max-width: 450px){}



/* rsp-min-1400 */
@media (min-width:1401px){}
/* rsp-min-1400 */
@media (min-width:1200px){}
/* rsp-min-1199 */
@media (min-width:992px){}
/* rsp-min-991 */
@media (min-width:768px){}
/* rsp-min-767 */
@media (min-width:576px){}
/* rsp-min-575 */
@media (min-width:451px){}



/* rsp-max-1400 */
@media (max-width:1400px){}
/* rsp-max-1199 */
@media (max-width:1199px){}
/* rsp-max-991 */
@media (max-width:991px){
  #contact_us_pp .modal-dialog{
    margin: 0 auto 0;
    max-width: 767px;
  }
  .dv1150_100619{
    text-align: center;
    margin-bottom: 20px;
  }
  .dv1150_100619 img {
    width: 100%;
    max-width: 200px;
  }
  .footer_txt {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
  }
  .ptt {
    padding-top: 0;
  }
  .fti {
    margin-bottom: 15px;
  }
  .home-currentaudit{
    height: auto;
  }
  .risk-homeauditsty{
    position: initial;
  }
  .dv1052_110619{
    display: none;
  }
  .dv0338_080619 {
    padding: 15px !important;
  }
  #chart_div > div{
    height: auto;
  }
  .cal-databgsty{
    height: auto;
  }
  .caldata-possty{
    position: initial;
  }







}
/* rsp-max-767 */
@media (max-width:767px){
  .nav0408_070619 .navbar-nav li {
    width: 100%;
    margin: 2px 0 2px !important;
    border-bottom: 1px solid #a1a0a0;
  }
  .nav0408_070619 .navbar-nav li:nth-last-child(1) {
    border-bottom: none;
  }
  .nav0408_070619 .navbar-nav li a {
    padding: 5px;
  }
  .nav0408_070619 .navbar{
    padding: 0;
  }
  .nav0408_070619 .navbar-nav .dropdown-menu{
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav0408_070619 .navbar-nav .dropdown-menu a{
    text-align: center !important;
  }
  .menu-topright954{
    margin-top: 5px;
  }
  .top-logostymain {
    text-align: center;
    margin-bottom: 10px;
  }
  .menu-topright954 ul {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
  }
  .parale {
    text-align: center !important;
  }










}
/* rsp-max-575 */
@media (max-width:575px){
  .footer_txt {
    width: 100%;
    margin-right: 0;
  }
  .footer_links {
    margin-bottom: 20px;
  }
  .dv0338_080619 .col-lg-6{
    max-width: 50%;
  }
  .dv0338_080619 .col-lg-12{
    margin-top: 20px !important;
  }
  .caldata-possty{
    width: 100%;
  }
  .top-haddingsty951{
    margin-bottom: 0;
  }
  .tips_in_audit_wrrpr img{
    width: 100vw;
    height: 45vw;
  }








}
/* rsp-max-450 */
@media (max-width:450px){
  .tips_in_audit_wrrpr button{
    position: initial;
    width: 100%;
  }
  .top-logostymain img {
    max-width: 140px;
  }







}










































































