.page-header{
	border-bottom: 1px solid #f1f1f1;
}

#titleest{
	background-color: #f2f2f2;
	padding-top: 50px;
}

.contitem{
	background-color: #ffffff;
	margin-bottom: 20px;
}

.fti{
	font-size: 14px;
}

.pt{
	padding-top: 13px;
}

.ptt{
	padding-top: 10px;
}

.bora{
	border: 1px solid #0cadf1;
}
input{
	height: 38px !important;
	border: 1px solid #78787b !important;
}

.active{
	color: #ada8aa;
}

.multiselect-selected-text{
	font-size: 10px;
}

.parale{
background: linear-gradient(45deg, #1d337f, #76c5f0, #47cf73);
color: #fff;
margin-bottom: 20px;
border: solid 1px #fff;
background-size: 200% 200%;
background-position: center left;
border-radius: 2px;
}
.parale:hover{
	-webkit-animation: background-rainbow 1s infinite linear alternate;
animation: background-rainbow 1s infinite linear alternate;
}

@-webkit-keyframes background-rainbow{0%{background-position:center left}100%{background-position:center right}}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

.parale label{margin-bottom: 5px !important; }
#infejec{
	width: 100%; 
	font-size: 150%;
	border: 1px solid rgb(56,93,138);
}
.input-border-bottom{
	border: 0 !important;
	outline: 0 !important;
	background: transparent !important;
	border-bottom: 1px solid black !important;
	width: 64px !important;
	height: 32px !important;
	text-align: center;
}
.footer-links{
    text-decoration: none ;
    font-size: 1rem;
    color: white;
}
.footer-links:hover{
    text-decoration: none ;
    font-size: 1rem;
    color: #e1e1e1;
}
