.head-bordersty951{padding: 10px 0px;}
.main-headertop951{}
.menu-topright954{text-align: right;margin-top: 28px;}
.menu-topright954 ul li{display: inline-block;margin-right: 5px;}
.contact-maindatasty{border: solid 1px #595959; height: 38px; display: inline-block; color: #000 !important;
text-decoration: none !important; cursor: pointer;}
.cont-imgsty{padding: 5px 9px; height: 36px; display: inline-block; border-right: solid 1px #595959;}
.cont-datasty{padding: 5px 9px;}
.lang-changesty851{padding: 5px 18px;}
.lang-changesty851 li {display: inline-block; width: 100%; line-height: 1.5; }
.lang-changesty851 li a {width: 100%; display: inline-block; font-size: 15px; line-height: 1.5 !important; height: auto; color: #177cc0; }
.lang-changesty851 li a img {width: 25px; float: right; }
.top-logostymain{}
.top-logostymain img{max-width: 195px;}
.manu-subdata954{background-color: #595959 !important; border: solid 0px #fff !important; margin-top: 0px; padding: 0px !important; padding-top: 10px !important; margin-left: -8px; border-radius: 0px !important;}
.manu-subdata954 a{padding: 8px 16px !important; text-align: left !important;}
.manu-subdata954 a:hover{background-color: #fff !important; color: #595959 !important;}
:focus{outline: 0px !important;}
.btn.focus, .btn:focus {outline: 0; box-shadow: 0 0 0 0 rgba(0,123,255,.25) !important; }
.top-haddingsty951{text-align: center; position: relative;padding: 20px 0px; margin-bottom: 24px;}
.top-haddingsty951 h4{width: auto; margin: auto; font-size: 32px; display: initial; background-color: #fff; font-weight: 600; padding: 0px 27px;}
.top-haddingsty951 hr{background-color: #000; width: 100%; position: absolute; left: 0; right: 0; top: 24px;
z-index: -1;}
.lable-stydata951{text-align: left !important;}
.lable-stydata951 label{width: 100%; font-size: 16px; font-weight: 600; margin-bottom: 8px;text-transform: capitalize;}
.calu-buttonsty951{}
.calu-buttonsty951 ul{text-align: center;padding-left: 0px;}
.calu-buttonsty951 ul li{display: inline-block;}
.calu-buttonsty951 ul li button{background-color: #595959; border: solid 2px #595959 !important; color: #fff; padding: 5px 23px; font-weight: 600; }
.calu-buttonsty951 ul li button:hover{background-color: #fff; border:solid 2px #595959 !important; color: #595959; }
.homepage-videosty{width: 100%; height: 300px;}

.home-currentaudit{background-image: url(../images/data9512.jpg); height: 710px; margin-bottom: 25px;padding: 15px; text-align: center; position: relative; background-size: cover; background-repeat: no-repeat;}
.risk-homeauditsty {position: absolute; width: 85%; left: 0; right: 0; margin: auto; bottom: 36px; font-size: 22px; font-weight: 600; /*background-color: rgba(251, 251, 251, 0.16);*/ color: #fff;}
.risk-homeauditsty span {}
.mar-topsetting654{margin-top: -16px;}
.btn-warning {color: #fff !important; background-color: #595959 !important; border: solid 2px #595959 !important;font-weight: 600; }
.btn-warning:hover{background-color: #fff !important; border: solid 2px #595959 !important; color: #595959 !important;}
.get-youresult951{text-align: center; margin-top: 25px;}
.get-youresult951 a{background-color: #000; color: #fff; padding: 9px 25px; display: block; text-decoration: none; font-weight: 600; font-size: 18px;}

.cal-databgsty{background-image: url(../images/contact9512.jpg); height: 880px; margin-bottom: 25px; padding: 15px; text-align: center; position: relative; background-size: cover; background-repeat: no-repeat; background-color: #f6f6f6; background-position: 100%;}
.caldata-possty {position: absolute; width: 85%; left: 0; right: 0; margin: auto; bottom: 30px; }
.caldata-possty font{font-size: 19px; font-weight: 600; color: #fff;}
.link-calsty623{text-align: right; margin-top: 25px;}
.cal-contactpopdata {border: solid 1px #fff; height: 38px; display: inline-block; color: #000 !important; text-decoration: none !important; cursor: pointer; background-color: #d5d4cf;}
.cont-contpop {padding: 5px 9px; height: 36px; display: inline-block; border-right: solid 1px #fff; }
.cont-contpop img{width: 26px;}
.cont-popcont65 {padding: 5px 9px; color: #fff; font-weight: 600; }
.padding-leftzero{padding-left: 0px !important;}	
.data-boxempty{min-width: 60px; background-color: #efefef; height: 21px; text-align: center; line-height: 1.1; padding: 1px 6px;display: inline-block;vertical-align: middle;}
.valor-data695{background-color: #efefef; width: auto; display: inline-block; min-width: 66px; margin: auto; text-align: center;height: 24px;line-height: 1.6;}
.datcenter9652{text-align: center;}
.txt-center9874{text-align: center;}


.check_radio{
		  margin-right: 20px;
		  display: inline-block;
		}
		.check_radio input[type=checkbox] + label,
		.check_radio input[type=radio] + label {
		  display: block;
		  cursor: pointer;
		  margin: 0;
		  padding: 6px;
		}
		.check_radio input[type=checkbox],
		.check_radio input[type=radio] {
		  display: none;
		}
		.check_radio input[type=checkbox] + label:before,
		.check_radio input[type=radio] + label:before {
		  content: "\2714";
		  border: 2px solid #333333;
		  border-radius: 0.2em;
		  display: inline-block;
		  width: 20px;
		  height: 20px;
		  margin-right: 5px;
		  vertical-align: bottom;
		  color: transparent;
		  transition: .2s;
		  text-align: center;
		  font-size: 15px;
		  line-height: 1.1;
		  font-weight: 300;
		}
		.check_radio input[type=radio] + label:before{
		  border-radius: 50%;
		  font-size: 0;
		}
		.check_radio input[type=checkbox] + label:active:before,
		.check_radio input[type=radio] + label:active:before {
		  transform: scale(0);
		}
		.check_radio input[type=checkbox]:checked + label:before,
		.check_radio input[type=radio]:checked + label:before {
		  background-color: #001e4f;
		  border-color: #001e4f;
		  color: #fff;
		}
		.check_radio input[type=checkbox]:disabled + label:before,
		.check_radio input[type=radio]:disabled + label:before {
		  transform: scale(1);
		  border-color: #c1c1c1;
		}
		.check_radio input[type=checkbox]:checked:disabled + label:before,
		.check_radio input[type=radio]:checked:disabled + label:before {
		  transform: scale(1);
		  background-color: #c1c1c1;
		  border-color: #c1c1c1;
		}

		.pop-sendbuttonsty{}
		.pop-sendbuttonsty button{ color: #fff; border: 0px; padding: 5px 25px; line-height: 1.8; text-transform: uppercase; font-weight: 600; letter-spacing: 2px; margin-top: 10px;
			background: linear-gradient(45deg, #1d337f, #76c5f0, #47cf73); background-size: 200% 200%;
background-position: center left;}

		.pop-sendbuttonsty button:hover{
	-webkit-animation: background-rainbow 1s infinite linear alternate;
animation: background-rainbow 1s infinite linear alternate;
}

@-webkit-keyframes background-rainbow{0%{background-position:center left}100%{background-position:center right}}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}